//<BUTTONS (a.btn+tab)>
// Сніппет (HTML): btn

.button {
	display: inline-block;
	text-align: center;
	font-size: rem(18);
	line-height: math.div(23, 18);
	border-radius: rem(6);
	letter-spacing: 0.03em;
	color: $white;
	background-color: $green-900;
	transition: background-color 0.2s ease 0s;
	@media (any-hover: hover) {
		&:hover {
			background-color: #4d810c;
		}
		&:focus {
			background-color: $green-900;
			box-shadow: 0 0 0 rem(4) #e0edcf;
		}
		&:active {
			background: $green-900;
			box-shadow: inset 0 rem(4) rem(4) rgba(0, 0, 0, 0.25);
			color: rgba(255, 255, 255, 0.5);
		}
	}

	// .button_green-big
	&_green-big {
		padding: rem(12) rem(24);
	}

	// .button_green-small
	&_green-small {
		font-weight: 700;
		font-size: rem(12);
		line-height: math.div(16, 12);
		border-radius: 0 rem(6) rem(6) 0;
		padding: rem(12) rem(10);
		text-transform: uppercase;
	}

	// .button_white
	&_white {
		padding: rem(11) rem(23);
		background-color: $white;
		border: rem(1) solid $green-900;
		color: $green-900;
		@media (any-hover: hover) {
			&:hover {
				background-color: #eff6e7;
			}
		}
		&:focus {
			background-color: $white;
			border: rem(1) solid $green-900;
			box-shadow: 0 0 0 rem(4) rgba(99, 166, 14, 0.5);
		}
		&:active {
			background: $white;
			border: rem(1) solid $green-900;
			box-shadow: inset 0 rem(10) rem(4) rgba(0, 0, 0, 0.1);
			color: rgba(99, 166, 14, 0.5);
		}
	}

	// .button_dark
	&_dark {
		font-weight: 600;
		font-size: rem(14);
		background-color: $dark-800;
		border-radius: 0 rem(6) rem(6) 0;
		padding: rem(16) rem(52);
		text-transform: uppercase;
		@media (any-hover: hover) {
			&:hover {
				background-color: rgba(49, 53, 43, 0.85);
			}
		}
		&:focus {
			background-color: $dark-800;
			box-shadow: 0 0 0 rem(4) #e0edcf;
		}
		&:active {
			box-shadow: inset 0 rem(4) rem(4) rgba(0, 0, 0, 0.25);
			color: rgba(255, 255, 255, 0.5);
		}
	}

	&._fw {
		width: 100%;
	}
}
