%ic {
	font-family: "icons";
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
[class*="_icon-"] {
	&:before {
		@extend %ic;
		display: block;
	}
}

._icon-btn-list:before {
	content: "\e900";
}
._icon-close:before {
	content: "\e901";
}
._icon-facebook:before {
	content: "\e902";
}
._icon-grid:before {
	content: "\e903";
}
._icon-icon-arrow-right:before {
	content: "\e904";
}
._icon-icon-cart:before {
	content: "\e905";
}
._icon-icon-del-address:before {
	content: "\e906";
}
._icon-icon-heart:before {
	content: "\e907";
}
._icon-icon-search:before {
	content: "\e908";
}
._icon-icon-tel:before {
	content: "\e909";
}
._icon-instagram:before {
	content: "\e90a";
}
._icon-location:before {
	content: "\e90b";
}
._icon-logo:before {
	content: "\e90c";
}
._icon-logo-green:before {
	content: "\e90d";
}
._icon-logo-text:before {
	content: "\e90e";
}
._icon-logo-text-green:before {
	content: "\e90f";
}
._icon-minus:before {
	content: "\e910";
}
._icon-mony:before {
	content: "\e911";
}
._icon-nav-icon:before {
	content: "\e912";
}
._icon-plus:before {
	content: "\e913";
}
._icon-star:before {
	content: "\e914";
}
._icon-telegram:before {
	content: "\e915";
}
._icon-user:before {
	content: "\e916";
}
._icon-youtube:before {
	content: "\e917";
}
